################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EHR_HCL/EHR_Product/EHR_Product/obj/Debug
